/.vs
/.vscode
/ipch
/_UpgradeReport_Files
/windebug/
/winrelease/
/x64/**
/pksedit.en/x64/**
/test/x64/
*.OBJ
*.bj
*.sbr
*.sdf
*.aps
/pks_sys/pksedit.grep
/macro_compiler/x64/
/en-US/x64/
/en-US/en-US/x64/
/pksedit-cppcheck-build-dir
/pkslib/pkslib/x64/Debug
/pkslib/pkslib/x64/Release/pkslib.tlog
/pkslib/pkslib/x64/Release
/packages/Microsoft.Windows.CppWinRT.2.0.210806.1
/packages.config
/pkslib/x64
/pks_sys/pkssession.json
/examples/big_sorting_sample.txt
/test/big_sorting_sample.txt
/rc/RCa05364
/pks_sys/pksedit.log
/pksedit/x64/Debug/pksedit.tlog
/pksedit/x64
/pks_sys/pkssession.json
/tags
/packages/LibGit2Sharp.NativeBinaries.2.0.323
