################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################
/.vs
/.vscode
/ipch
/_UpgradeReport_Files
/windebug/*
/WINREL/*
*.OBJ
*.sbr
